
html {

}
body {
  text-align:center;
  color: #78787c;
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

h1, h2, h3{
  font-family: 'Josefin Sans', sans-serif;
  color:#232323
}
h1{
  font-size:3rem;
}

h2{
  font-size:3rem;
}



.navbar-light{
  background-color:#009688!important;
  padding:1rem
}

.navbar-brand img{
  background:white;
  border-radius:5rem;
  width:3rem
}

.navbar-brand{
  color:white!important;

}

#mockupContainer{
  padding:2rem 5rem 0
}

.mockup{
  width:10rem;
  padding:0;
  border-radius:1rem;
  box-shadow: 10px 5px 5px grey;
}


#mockupContainer h1{
  width:100%;
  
}

#googlePlayBadge img{
  width:20rem;
  margin-bottom:5rem;
}

#featuresContainer{
  width:100%;
  text-align:center;
}
#features{
  text-align:left;
  margin:3rem;
  max-width:50rem;
  margin:auto

}

#features .row{
  margin-top:3rem
}

.right{
  text-align:right
}
.left{
  text-align:left
}
